div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-style: solid;
    text-align: right;
    border-radius: 10%;
    padding-left:230px ;
    padding-right:45px;
    margin-top: 25px;
}
h1{
    height: 100px;
    width: 200px;
    background-color: rgb(169, 83, 97);
    border-width: 2px;
    border-style: dotted;
    border-color: azure;
    text-align: center;
    border-radius: 20%
}