#box{
    background-color: blue;
    text-align: center;
}
.heading{
    color: red;
    text-align: right;
}
button{
    background-color: green;
    text-align: start;
    font-family: cursive;
    font-size: 25px;
}
#h{
    text-decoration: blue wavy underline;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 34px;
    line-height: 50x;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}